<div class="input-wrapper input-wrapper--{{labelPlacement}}">
    {{#if label}}
        <label class="input-label" for="{{name}}">{{label}}</label>
    {{/if}}
    <input
        class="input"
        id="{{name}}"
        type="{{type}}"
        name="{{name}}"
        placeholder="{{placeholder}}"
        {{#if required}} required{{/if}}
        value="{{value}}"
        {{#if disabled}} disabled{{/if}}
    />
</div>
{{#if errorText}}
    <p class="input-error input-error--{{labelPlacement}}">{{errorText}}</p>
{{/if}}
