<div class="message-item {{#if user}}message-item--their{{else}}message-item--mine{{/if}}">
    {{#if date}}
        <div class="message-item__date-separator">{{date}}</div>
    {{/if}}
    {{#if text}}
        <div class="message-item__bubble">
            <p class="message-item__text">{{text}}</p>
            <span class="message-item__time {{#unless user}}message-item__time-mine{{/unless}}">{{time}}</span>
            {{#if status}}
                <span class="message-item__status message-item__status--{{status}}"></span>
            {{/if}}
        </div>
    {{/if}}
    {{#if content}}
        {{#if content.isImage}}
            <div class="message-item__bubble message-item__bubble--image">
                <img src="{{content.src}}" alt="image" />
                <span class="message-item__time">{{time}}</span>
            </div>
        {{/if}}
    {{/if}}
</div>
