<div class="avatar avatar--{{size}}">
    {{#if src}}
        <img class="avatar__image" src="{{src}}" alt="{{alt}}" />
    {{else if alt}}
        <div class="avatar__placeholder">{{alt.[0]}}</div>
    {{/if}}
</div>
